body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #6643b5;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  color: #7c73e6;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
small .open-source {
  color: #7c73e6;
  text-decoration: none;
}
small .name {
  color: #6643b5;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #6643b5;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .celsius {
  text-decoration: none;
}
.weather-temperature .fahrenheit {
  text-decoration: none;
}
.weather-temperature .active {
  color: #6643b5;
}

.search-form .search-btn {
  color: white;
  background-color: #6643b5;
}
